* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nanum Myeongjo', serif;
}

.dark {
    color: #f1f1f1;
    background-color: #000;
}

.light {
    color: #000;
}

#welcome-loop {
    display: flex;
    position: relative;
}

#welcome {
    width: 100%;
    padding: 0.4rem;
}

.dark-theme, .light-theme {
    font-family: monospace;
    position: absolute;
    z-index: 1;
    width: 50px;
    height: 25px;
    left: 1rem;
    top: 1rem;
    border-radius: 10px;
    cursor: pointer;
}

.dark-theme:active, .light-theme:active{
    transition: 20ms ease-in-out;
    transform: scale(0.9);
}

#about-and-projects {
    display: flex;
}

#about {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
    padding-bottom: 2rem;
}

#about h1 {
    font-size: 1.7rem;
    margin: auto;
    margin-bottom: 1rem;
    max-width: 60%;
    text-transform: uppercase;
    word-spacing: 0.3rem;
}

#about p {
    margin: auto;
    max-width: 60%;
    line-height: 1.4rem;
    word-spacing: 0.3rem;
    font-size: 1.3rem;
}

#projects {
    flex: 1.7;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
}

.project-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
    font-size: 2rem;
    font-weight: bold;
}

.link {
    color: #000;
}

.img {
    border-radius: 10px;
    border: solid;
    width: 100px;
    height: 100px;
}

.img:hover {
    transition: 1s ease-in-out;
    transform: scale(2.0);
}


@media(max-width: 800px) {
    #about-and-projects {
            flex-direction: column;
        }
        
        #about h1 {
        font-size: 2rem;
        max-width: 90%;
    }

    #about p {
        font-size: 1.5rem;
        max-width: 90%;
    }

    #about h1, p {
        text-align: center;
    }

    .img:hover {
        transform: scale(1.8);
        }
    
}

@media(max-width: 600px) {
    #projects {
        grid-template-columns: 1fr 1fr;
    }

    .project-link {
        font-size: 1.3rem;
    }

    .img {
        width: 150px;
        height: 150px;
    }

    .img:hover {
        transform: none;
        transition: none;
    }
}

@media(max-width: 400px) {
    #projects {
        grid-template-columns: 1fr;
    }

    .img {
        width: 200px;
        height: 200px;
    }

}